version: '3'

services:
  reverse-proxy:
    image: traefik:v2.4
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  nginx-tako:
    image: nginx:1.19
    labels:
      - "traefik.http.routers.nginx-a.rule=Host(`tako.example.com`)"
  nginx-ika:
    image: nginx:1.19
    labels:
      - "traefik.http.routers.nginx-b.rule=Host(`ika.example.com`)"
